# 599 Capstone Project

This notebook connects to the NewAPI to return JSOn objects based on specific queries, loads specific elements from the object, then persists the data in an existing MySQL table (https://github.com/ads-capstone-su23/599_team_project/blob/main/images/MySQL_schema.jpg).

## Resolve dependencies

In [1]:
! pip install newsapi-python

Requirement already satisfied: newsapi-python in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (0.2.7)
Requirement already satisfied: requests<3.0.0 in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (from newsapi-python) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (from requests<3.0.0->newsapi-python) (2023.5.7)
Requirement already satisfied: idna<3,>=2.5 in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (from requests<3.0.0->newsapi-python) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (from requests<3.0.0->newsapi-python) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\acarr\anaconda3\envs\ds-py38-cs\lib\site-packages (from requests<3.0.0->newsapi-python) (4.0.0)

## Globally import libraries

Libraries needed mostly pertain to NewsAPI call, file access, and MySQL database connection.

In [2]:
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt
import os
import shutil
import re
import logging
import time
import zipfile
import requests
from bs4 import BeautifulSoup
import datetime as dt
import re
import regex as rex
from collections import defaultdict, Counter
import random

from newsapi import NewsApiClient

Set global parameters.

In [2]:
# Set pandas global options
pd.options.display.max_rows = 17

## Setup connection to NewsAPI client

Pull masked key from environment variable.

In [3]:
api_key = os.environ['NewsAPIKey']

# Init APO connection
newsapi = NewsApiClient(api_key=api_key)

### Pull article info from API

Get source info in order to setup API call correctly. *Note:* Display turned off due to size of output.

sources = newsapi.get_sources(language='en',
                              country='us')
display(sources)

### Define custom function for API call

Use the newsapi package `.get_everything()` call structure to retrieve articles based on a combination of key word query, source/domain, from/to dates, language (English-only), and number of pages returned (NewsAPI returns a max. of 100 articles per page). The results are appended to an empty list.

In [4]:
def news_api_urls(q=None,
                  s=None,
                  d=None,
                  d_from='2023-05-01',
                  d_to='2023-05-31',
                  page=1,
                  api_lst=[]):
    '''Access API and pull content from resulting JSON object'''
    all_articles = newsapi.get_everything(q=q,
                                          sources=s,
                                          domains=d,
                                          from_param=d_from,
                                          to=d_to,
                                          language='en',
                                          sort_by='popularity',
                                          page=page)

    #print(type(all_articles))
    #print(all_articles)
    #print('Article list: ', all_articles['articles'])

    # Create a list of tuples from the dictionary data
    source_data01 = [(a['source']['name'],
                      a['author'],
                      a['title'],
                      a['url'],
                      a['publishedAt'],
                      a['content'])
                     for a in all_articles['articles']]

    api_lst.extend(source_data01)
    #print(api_lst)
    return(len(api_lst))

### Establish connection to API to access URLs

#### Set API filter parameters

The specific list of sources/domains was established to cast a wider net in order to maximize the diversity of content, while attempting to capture a combination of the most popular and/or mainstream online news source content (articles).

In [5]:
# Total API request grid: Sources x dates
source_str = 'cnn, fox-news, abc-news, the-huffington-post, buzzfeed, breitbart-news, the-washington-post, usa-today, business-insider, nbc-news, msnbc, reuters, wired'
#source_str = 'nypost.com, nytimes.com, msn.com, people.com, cnbc.com, forbes.com, vox.com'
date_lst = ['2023-06-30', '2023-06-29', '2023-06-28', '2023-06-27', '2023-06-26',
            '2023-06-25', '2023-06-24', '2023-06-23', '2023-06-22', '2023-06-21',
            '2023-06-24', '2023-06-23', '2023-06-22', '2023-06-21', '2023-06-20',]

#date_lst = ['2023-06-19', '2023-06-18', '2023-06-17', '2023-06-16', '2023-06-15',
#            '2023-06-14', '2023-06-13', '2023-06-12', '2023-06-11', '2023-06-10',]

#date_lst = ['2023-06-09', '2023-06-08', '2023-06-07', '2023-06-06', '2023-06-05',
#            '2023-06-04', '2023-06-03', '2023-06-02', '2023-06-01', '2023-05-31',]

#### Access API

Run the custom function through a `for` loop to prevent over-loading calls to the API. For each date in `date_lst`, and for each page in the range of 1 to 10, the `news_api_urls` function will access the entered source/domains (as a string), appending the results to `api_lst`. A random sleep step was added to prevent rate limiting by the API.

In [6]:
'''Run individual request for each source/data/keyword combo
to maximize data scraped'''
api_record_lst01 = []

for d in date_lst:
    for p in range(1, 21):
        time.sleep(5 + 11 * random.random())
        try:
            lst_len = news_api_urls(q=None,
                                    s=source_str,
                                    d=None,
                                    d_from=d,
                                    d_to=d,
                                    page=p,
                                    api_lst=api_record_lst01)
        except:
            print(f'Page {p} is not available for {d}')
        print(f'Story Count: {lst_len}; ', end='')

Story Count: 100; Story Count: 200; Story Count: 300; Story Count: 400; Story Count: 500; Story Count: 600; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 630; Story Count: 730; Story Count: 830; Story Count: 930; Story Count: 1030; Story Count: 1130; Story Count: 1230; Story Count: 1330; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1361; Story Count: 1461; Story Count: 1561; Story Count: 1661; Story Count: 1761; Story Count: 1861; Story Count: 1961; Story Count: 2061; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2095; Story Count: 2195; Story Count: 2295; Story Count: 2395; Story Count: 2495; Story Count: 2595; Story Count: 2695; Story Count: 2795; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2798; Story Count: 2898; Story Count: 2998; Story Count: 3098; Story Count: 3198; Story Count: 3298; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3393; Story Count: 3493; Story Count: 3593; Story Count: 3693; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3721; Story Count: 3821; Story Count: 3921; Story Count: 4021; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4068; Story Count: 4168; Story Count: 4268; Story Count: 4368; Story Count: 4468; Story Count: 4568; Story Count: 4668; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4704; Story Count: 4804; Story Count: 4904; Story Count: 5004; Story Count: 5104; Story Count: 5204; Story Count: 5304; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5355; Story Count: 5455; Story Count: 5555; Story Count: 5655; Story Count: 5755; Story Count: 5855; Story Count: 5955; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6030; Story Count: 6130; Story Count: 6230; Story Count: 6330; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6377; Story Count: 6477; Story Count: 6577; Story Count: 6677; Story Count: 6777; Story Count: 6877; Story Count: 6977; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7013; Story Count: 7113; Story Count: 7213; Story Count: 7313; Story Count: 7413; Story Count: 7513; Story Count: 7613; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7664; Story Count: 7764; Story Count: 7864; Story Count: 7964; Story Count: 8064; Story Count: 8164; Story Count: 8264; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8339; Story Count: 8439; Story Count: 8539; Story Count: 8639; Story Count: 8739; Story Count: 8839; Story Count: 8939; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980; Story Count: 8980;

Print size number of API records returned.

In [7]:
print(len(api_record_lst01))
#print(api_record_lst01)

8980

Convert the list to set in case there are duplicate URLs, the convert the set back to list type for use in MySQL transactions.

In [8]:
# Convert result list to set to eliminate duplicates
api_record_set01 = set(api_record_lst01)
#print(api_record_set01)
api_record_lst02 = list(api_record_set01)
print(len(api_record_lst02))
print(api_record_lst02[:2])

6524
[('Fox News', 'Ryan Gaydos', 'Spider bite lands Inter Miami goalie in hospital, wife says', 'https://www.foxnews.com/sports/spider-bite-lands-inter-miami-goalie-hospital-wife-says', '2023-06-22T10:14:47Z', 'Inter Miami goalkeeper Nick Marsman suffered a serious health scare recently when he was hospitalized after he was bitten by a "poisonous" spider while he was at a zoo.\r\nMarsman was in the hospital f… [+1895 chars]'), ('Breitbart News', 'Simon Kent', 'Kevin Costner Wife Demanding $248K a Month in Child Support amid Divorce', 'https://www.breitbart.com/entertainment/2023/06/22/kevin-costner-wife-demanding-248k-a-month-in-child-support-amid-divorce/', '2023-06-22T16:13:14Z', 'The estranged wife of Kevin Costner has submitted a court filing demanding $248,000 a month in child support from the actor to go towards maintaining their three teenage children.\r\nThe declaration wa… [+2102 chars]')]

## Initiate MySQL connection

Open connection to existing MySQL schema and table. Pull masked user and password from environment variable.

In [9]:
'''Set local environment variables to hide user name & password citation:
https://www.geeksforgeeks.org/how-to-hide-sensitive-credentials-using-python/
'''
user_name = os.environ['MySQLUSRAC']
user_pass = os.environ['MySQLPWDAC']

# Instantiate connection
db_conn = mysql.connect(host='localhost',
                        port=int(3306),
                        user=user_name,
                        passwd=user_pass,
                        db='599_capstone')

# Create a cursor object
cursor = db_conn.cursor()

Display schema tables to ensure the connection was successful.

In [10]:
tbl_names = pd.read_sql('SHOW TABLES',
                        db_conn)

display(tbl_names)
print(type(tbl_names))

  Tables_in_599_capstone
0               nar_temp
1          news_articles
2     news_articles_rvsd

<class 'pandas.core.frame.DataFrame'>

### Establish logging policy

Configure logging so that connection errors can be reviewed. Logging output is sent to the pymysql.log file.

In [11]:
'''Logging citations:
1. https://chat.openai.com/share/7d376dad-eb91-40b7-b84f-55286fb29d35
2. https://docs.python.org/3/howto/logging.html#logging-basic-example
3. https://docs.python.org/3/howto/logging.html#logging-to-a-file
4. https://docs.python.org/3/howto/logging-cookbook.html#using-a-rotating-log-file-handler
5. https://docs.python.org/3/howto/logging-cookbook.html#using-a-timed-rotating-file-handler
'''

# Set up logging
logging.basicConfig(level=logging.INFO,
                    filename='pymysql.log',
                    filemode='a',
                    format='''>>>>>>>>>>>>>><<<<<<<<<<<<<<\n%(asctime)s - %(levelname)s - %(message)s'''
                   )

### Update individual tables

#### Update `news_articles_rvsd` table from API

In [12]:
nat_tbl_name = 'nar_temp'
nwa_tbl_name = 'news_articles_rvsd'

Load the list of API record results to a temporary MySQL table. Then update the main MySQL table by adding records based on a join with the temporary table. Using `title`, `publish_date`, and `author` as the join criteria ensures that only new URLs are added. The code block starts and ends with a wipe of the temp table. Also, the logging criteria has been embedded in order to output any errors generated.

In [13]:
'''Using cursor and loading into temp file:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://pynative.com/python-mysql-insert-data-into-database-table/
'''

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    nat_dlt_tble_stmnt = f"""DELETE FROM {nat_tbl_name}"""
    cursor.execute(nat_dlt_tble_stmnt)
    logging.info(f'''Successfully executed query:\n{nat_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}''')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{nat_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'''Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n''')

# Execute query and measure execution time
start_time = time.time()

# Load data from CSV file into a temporary table
try:
    nat_csv_load_stmnt = f"""
    INSERT INTO {nat_tbl_name}
    (
    source_name,
    author,
    title,
    url,
    publish_date,
    content
    )
    VALUES (%s, %s, %s, %s, %s, %s)
    """

    # Execute the query with multiple values
    cursor.executemany(nat_csv_load_stmnt, api_record_lst02)
    #cursor.execute(nat_csv_load_stmnt)
    logging.info(f'''Successfully executed query:\n{nat_csv_load_stmnt}\n\nRecords scanned: {cursor.rowcount}''')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{nat_csv_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'''Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n''')

# Execute query and measure execution time
start_time = time.time()

# Insert new records into main table
try:
    nwa_load_stmnt = f"""
    INSERT INTO {nwa_tbl_name}
    (
    source_name,
    author,
    title,
    url,
    publish_date,
    content
    )
    SELECT
        tp.source_name,
        tp.author,
        tp.title,
        tp.url,
        tp.publish_date,
        tp.content
    FROM {nat_tbl_name} AS tp
    LEFT JOIN {nwa_tbl_name} AS mn
    ON tp.title = mn.title
        AND CAST(LEFT(tp.publish_date,10) AS DATE)=CAST(LEFT(mn.publish_date,10) AS DATE)
        AND tp.author = mn.author
    """
    cursor.execute(nwa_load_stmnt)
    logging.info(f'''Successfully executed query:\n{nwa_load_stmnt}\n\nRecords scanned: {cursor.rowcount}''')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{nwa_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'''Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n''')

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    cursor.execute(nat_dlt_tble_stmnt)
    logging.info(f'''Successfully executed query:\n{nat_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}''')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{nat_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'''Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n''')

### Commit changes and close cursor and connection instances

This step is integral to committing any remaining MySQL calls, as well as releasing the connection.

In [14]:
# Commit the changes to the database
db_conn.commit()

# Close the cursor and database connection
cursor.close()
db_conn.close()